{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi App Moderna</title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Estilos personalizados -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-800 font-sans">


    <!--{%include "navbar.html"%}-->

    <main class="mt-10 px-4 max-w-4xl mx-auto text-center">
        <h2 class="text-3xl font-semibold text-gray-900 my-4">Portafolio: Sebastian Tapia Rebolledo</h2>
        <h4 class="my-2">Correo: sebatapiareb@gmail.com</h4>
        <p class="my-8">Ingeniero informático especializado en el desarrollo de aplicaciones web y mobile.
            A continuación se presentan algunos de los proyectos que he desarrollado a lo largo de mi carrera
            profesional.
            Cada uno de estos proyectos refleja mi compromiso con la calidad y la innovación en el desarrollo de
            software.
        </p>
        <p class="text-gray-600 mb-8">
            Seleccione el proyecto que desea ver:
        </p>

        {% include "projects_list.html" %}
    </main>

    {% include "footer.html" %}

    <!-- Scripts personalizados -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>